<!DOCTYPE html>


<html>
<head>
    <title>Title Search Results</title>
</head>
<body>
	<h2><b><u> The Title Search Results Are As Follows For The Title: {{titletosearch}} </b></u></h2>
	<div> Please Select a Search Result Option To Proceed. </div
	<div> --------------------------------------------------------------------------- </div>

	<form action = "{{url_for('bookresult') }}" method="post">
		<div>
		<select name="search_results">
			{% for titlesearchresults in titlesearchresults %}
			<option value="{{titlesearchresults.isbn}}"> TITLE: {{titlesearchresults.title}} - AUTHOR: {{titlesearchresults.author}} - ISBN: {{titlesearchresults.isbn}} - YEAR: {{titlesearchresults.year}} </option> 
			{% endfor %}
		</select>
		<button> Select Book</button>
		</div>
	</form>


	<div> --------------------------------------------------------------------------- </div>
	<div>If your desired book is not in the options above, please try searching again.</div>
	<form action = "{{url_for('booksearch') }}" method="post">
		<div>
		<button> Search Again! </button>
		</div>
	</form>

	<div> --------------------------------------------------------------------------- </div>
	<div> If you wish to log out, please click the following button</div>

	<form action = "{{url_for('logout') }}" method="post">
		<div>
		<button> Log Out! </button>
		</div>
	</form>
	<div> --------------------------------------------------------------------------- </div>
</body>
</html>